<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script>
      var status = '<%- JSON.stringify(status) %>';

      if (JSON.parse(status) == "verified") {
        if (confirm("Do u want to login?")) {
          window.location.href = "http://localhost:3000/";
        }
      }
    </script>
  </head>
  <body>
    <h1><%= email%></h1>
    <form action="" method="post">
      <input
        type="password"
        name="password"
        id="password"
        placeholder="password"
      /><br />
      <input
        type="password"
        name="confirm-password"
        id="confirm-password"
        placeholder="confirm-password"
      /><br />
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
